.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #EFEFEF;

  .plan-card-title {
    color: #6500ff;
    font-size: 26px;
    padding: 10px 0;
  }

  .plan-card-price-wrapper {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    color: #000000;

    .plan-card-price-amount {
      font-size: 20px;
    }

    .plan-card-price-per-month {

    }
  }

  .plan-card-price-detail {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;

    .plan-card-price-detail-highlight {
      color: #6500ff;
    }
  }

  .plan-card-price-button {
    padding: 10px 10px;

    button {
      outline: none;
      background: black;
      width: 100%;
      border-radius: 0;
      color: white;
    }

    button:hover {
      outline: none;
    }

    .plan-card-price-button-selected {
      background: #6500ff;
    }
  }
}
