.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.search-box, .search-box:focus, .search-box:focus-within {
    background: transparent !important;
    border: 0.05rem solid black;
    border-radius: 0;
}

.search-icon {
    cursor: pointer;
}